.boxCombination{
    padding: -10px;
}
.Portfolio{
    background-color: #1E3D68;
    opacity: 0.9;
}
.Portfolio2{
    background-color: #51BDB5;
    opacity: 0.9;
}
.Portfolio3{
    background-color: white;
    opacity: 0.9;
}
.Portfolio4{
    background-color: white;
    opacity: 0.9;
}
.Portfolio5{
    background-color: #94AD50;
    opacity: 0.9;
}
.Portfolio6{
    background-color: #0369af;
    opacity: 0.9;
}
.Portfolio7{
    background-color:#19488c;
    opacity: 0.9;
}
.Portfolio8{
    background-color: #2f3133;
    opacity: 0.9;
}
.Portfolio9{
    background-color: white;
    opacity: 0.9;
}
.Portfolio10{
    background-color: white;
    opacity: 0.9;
}
.Portfolio11{
    background-color: white;
    opacity: 0.9;
}
.Portfolio12{
    background-color: white;
    opacity: 0.9;
}
.QuranClubImg{
    height: 230px;
}
.AllDivImg{
    height: 240px;
}

.CertaproAppsColor{
    background-color: #F5A118;
    opacity: 0.9;
}

.EventManagementAppColor{
    background-color: #2B1D38;
    opacity: 0.9;
}

.HappyClientsPlase{
    margin-left: -12px;
    width: 10px;
}
.HappyClientsText{
    margin-left: 30px;
}
.FinishedProjectsPlase{
    margin-left: -42px;
}
.FinishedProjectsText{
    margin-left: 30px;
}
.GlobalClientsPlase{
    margin-left: -43px;
}
.GlobalClientsText{
    margin-left: 30px;
}
.CountriesBeyondPlase{
    margin-left: -43px;
}
.CountriesBeyondText{
    margin-left: 30px;
}
.YearsExperiencePlase{
    margin-left: -64px;
}
.YearsExperienceText{
    margin-left: 53px;
}
.OurMissionAllText{
    color: #1f8ac0;
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  /* For demonstration purposes only: */
  body { font-size: 3.5em }
  h1 { font-size: 0.5em }

  
#name {
    border:2px solid #104c91;
}
#email {
    border:2px solid #104c91;
}
#subject {
    border:2px solid #104c91;
}
#message {
    border:2px solid #104c91;
}
.SubmitButton{
    border-radius: 10px;
    background-color: #104c91;
    color: white;
    margin: 10px;
    margin-top: 10px;
    margin-left: 1px;
}
.SubmitButton:hover{
    background-color:#0369af;
    color: white;
}

// LinkButton Class accessnew code //
li {
    margin-bottom: 10px;
    color:black;
}
.cool-link {
    display: inline-block;
    color: black;
    text-decoration: none;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    transition: width .2s;
    transition: all 0.3s ease-in-out 0s;
    border-bottom: 2px solid #1f8ac0;
}
.cool-link:hover::after {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #1f8ac0;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
    background-color: red;
}

.DivContact 
{
    background-color: green;
}

@media screen and (max-width: 992px) {
  .DivContact 
  {
    width: 97%;
    margin-left: 10px;
  }
}

//new//




