<main id="main" class="p-0">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <!-- <p>Passition For Excelleence.</p> -->
        </div>

        <div class="row gy-4">
          <div class="col-lg-6 AllTextP">
            <!-- <h3>Read More About Us</h3> -->
            <img src="assets/img/portfolio/christopher-gower-m_HRfLhgABo-unsplash.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <!-- <p class="OurMissionAllText text-center h6">Our Work Culture</p> -->
            <p class="text-center"><strong style="color:#0369af;">Our Work Culture</strong></p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Collaborative:</strong> Our company values teamwork & encourages employees to work together and share ideas.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Innovative:</strong> We encourage creativity and encourage employees to think outside the box.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Professional:</strong> Our company values professionalism and expects employees to maintain high standards in their work.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Flexible:</strong> We offer flexible work arrangements and understand the importance of work-life balance.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> supportive:</strong> Our company provides resources and supports employees to help them succeed in their roles.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Diverse:</strong> We value diversity and encourage an inclusive culture.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Growth-Oriented:</strong> Our company encourages employees to learn and grow in their career.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Fun:</strong> We know that work should be enjoyable and we encourage employees to have fun on the job.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Responsible:</strong> The company values social and environmental responsibility and encourages employees to make a positive impact.</p>
            <p><strong class="OurMissionAllText"><i class="bi bi-check-circle-fill"></i> Rewarding:</strong> We value our employees & provide opportunities and rewards for their hard work.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5 AllTextP">
              <p class="fst-itali">
                <strong class="OurMissionAllText">Our clients:</strong> We have a diverse portfolio of clients across a variety of industries including healthcare, 
                finance, retail and education. We take pride in the long-term relationships that we have built with our clients and we are committed to deliver 
                exceptional service to each and every one of them.
              </p> 
              <p class=""><strong class="OurMissionAllText">Our mission:</strong> At CSure Infotech, We are dedicated to provide top-quality IT solutions that help
              our clients to streamline their operations and achieve their business goals.</p><br/> 
              <p><strong class="OurMissionAllText">Our team:</strong> Our team of experienced and certified IT professionals is committed to deliver innovative 
              and reliable solutions to our clients. We take pride in our expertise and dedication to stay up-to-date on the latest technologies and industry trends.</p><br/>
              <p><strong class="OurMissionAllText">Our services:</strong> We offer a wide range of IT services including custom software development, website designing
              and web development, IT support and maintenance & cybersecurity solutions. We work closely with our clients to understand their unique needs and develop 
              customised solutions that meet their specific requirements.</p> 
              <br/>
              <p><strong class="OurMissionAllText">Our values:</strong> At CSure Infotech, We value integrity, innovation and collaboration. We strive to be a trusted 
              partner for our clients and we are committed to deliver the highest quality solutions on time with cost-effective manner.
              </p>
              <div class="position-relative mt-4">
                <img src="assets/img/portfolio/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg" class="img-fluid rounded-4" alt="">
                <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/clients/flutter-icon.png" class="img-fluid" alt="" style="height: 40px;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/microsoft-dotnet_new.png" class="img-fluid" alt="" style="height: 50px;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/Xamarin_new.png" class="img-fluid" alt=""  style="height: 50px;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/ASP_NET_new.png" class="img-fluid" alt="" style="height: 60px;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/AngularJS.png" class="img-fluid" alt="" style="height: 50px;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/Node.js.png" class="img-fluid" alt="" style="height: 50px;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/NET_MAUI.png" class="img-fluid" alt="" style="height: 50px;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/CSS3_new.png" class="img-fluid" alt=""  style="height: 50px;"></div>
            <div class="swiper-slide"><img src="assets/img/clients/html5.png" class="img-fluid" alt="" style="height: 50px;"></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="assets/img/portfolio/Stats.png" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span><span class="FinishedProjectsPlase">+</span>
              <p><strong class="FinishedProjectsText">Finished Projects</strong></p>
            </div>
    
            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="57" data-purecounter-duration="1" class="purecounter"></span><span class="GlobalClientsPlase">+</span>
              <p><strong class="GlobalClientsText">Global Clients</strong></p>
            </div>

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="27" data-purecounter-duration="1" class="purecounter"></span><span class="CountriesBeyondPlase">+</span>
              <p><strong class="CountriesBeyondText">Countries & Beyond</strong></p>
            </div>

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span><span class="YearsExperiencePlase">+</span>
              <p><strong class="YearsExperienceText">Years Experience</strong></p>
            </div>
          
            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="1000" data-purecounter-end="25000" data-purecounter-duration="1" class="purecounter"></span><span class="HappyClientsPlase">+</span>
              <p><strong class="HappyClientsText">Hours Support</strong></p>
            </div>
            
          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>We offer a wide range of IT services, including custom software development, website design and development, IT support and maintenance, and cybersecurity solutions. We work closely with our clients to understand their unique needs and develop customized solutions that meet their specific requirements.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-unity"></i>
              </div>
              <h3>Hybrid Application</h3>
              <p>In addition to native Android and iOS development, we also offer cross-platform solutions that can be deployed on multiple operating systems.</p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-android2"></i>
              </div>
              <h3>Android Application</h3>
              <p>We build custom mobile applications for Android devices by utilizing the latest technologies and best practices to ensure a seamless user experience.</p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-apple"></i>
              </div>
              <h3>iOS Application</h3>
              <p>Our developers have the skills and expertise to create high-quality mobile apps for iOS devices, including iPhones and iPads.</p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-display"></i>
              </div>
              <h3>Destop Application</h3>
              <p>Our developers have expertise in variety of programming languages and technologies, including Xamarin, Swift, and WPF,</p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-database"></i>
              </div>
              <h3>ERP Solutions</h3>
              <p>Customized ERP systems can help businesses streamline their operations, improve efficiency, and increase productivity. They can be tailored to meet the specific needs and requirements of your organization, making them an ideal solution for businesses of all sizes.
                Our team of experienced developers is skilled in creating custom ERP systems that can help your business run smoothly and effectively.</p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-code-square"></i>
              </div>
              <h3>Web Application</h3>
              <p>Our web development team specializes in building custom websites and web applications that are tailored to your specific business needs. We use the latest technologies and best practices to ensure that your website is fast, responsive, and easy to use. Whether you need a simple brochure website or a complex, data-driven web application, we have the skills and experience to deliver results. Contact us today to learn more about how we can help your business succeed online.</p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->
    
      <!-- ======= testimonials Section ======= -->
    <section id="testimonials" class="testimonials" [ngClass]="{'d-none':visible === false}"> 
      <div class="container"> 

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Here is something, what our clients said about us...</p>
        </div>

        <div class="slides-3 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide" *ngFor="let Review of ReviewList;">
              <div class="testimonial-wrap"  *ngIf="show">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <div>
                      <h3> {{ Review.name }} </h3>
                      <h4 class="text-primary"> {{ Review.title }} </h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    {{ Review.msg }}
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div> 
            
          </div>
          
        </div>
       <div class="swiper-pagination"></div>
       </div> 
    </section><!-- End Testimonials Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Portfolio</h2>
          <p>Here are some of our precise work highlights...</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters"  style="align-items: center;">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Android</li>
              <li data-filter=".filter-product">iOS</li>
              <li data-filter=".filter-branding">Hybrid</li>
              <li data-filter=".filter-books">Tablet</li>
            </ul><!-- End Portfolio Filters -->
          </div>


          <div class="row gy-4 portfolio-container">
           
            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding filter-books text-center">
              <div class="portfolio-wrap Portfolio12">
                <a href="assets/img/portfolio/quran_club.png" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/quran_club.png" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Quran Club</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product text-center">
              <div class="portfolio-wrap Portfolio8">
                <a href="assets/img/portfolio/radio_station.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/radio_station.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">All India Radio Station</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> LiveFM -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-books-2 -->
           
            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding filter-books text-center">
              <div class="portfolio-wrap Portfolio12">
                <a href="assets/img/portfolio/onpulse_mobile.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/onpulse_mobile.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">OnPulse Mobile</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product filter-branding text-center">
              <div class="portfolio-wrap Portfolio3">
                <a href="assets/img/portfolio/travelory.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/travelory.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Travelory</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product filter-books text-center">
              <div class="portfolio-wrap Portfolio11">
                <a href="assets/img/portfolio/well_fit_plus.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/well_fit_plus.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Well Fit Plus</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-branding-3 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-books filter-branding text-center">
              <div class="portfolio-wrap Portfolio">
                <a href="assets/img/portfolio/sermon_prep.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/sermon_prep.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Sermon Prep</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div> 
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item text-center">
              <div class="portfolio-wrap Portfolio9">
                <a href="assets/img/portfolio/kicksonfire.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/kicksonfire.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">KicksOnFire</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-3 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding text-center">
              <div class="portfolio-wrap Portfolio2">
                <a href="assets/img/portfolio/tygo.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/tygo.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Tygo</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding filter-books text-center">
              <div class="portfolio-wrap Portfolio4">
                <a href="assets/img/portfolio/mcclain_cellars.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/mcclain_cellars.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">McClain Cellars</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p>-->
                </div> 
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding filter-books text-center">
              <div class="portfolio-wrap Portfolio12">
                <a href="assets/img/portfolio/isermons.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/isermons.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">iSermons</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding filter-books text-center">
              <div class="portfolio-wrap Portfolio12 EventManagementAppColor">
                <a href="assets/img/portfolio/event_logo.png" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/event_logo.png" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Event App</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding text-center">
              <div class="portfolio-wrap Portfolio12 CertaproAppsColor">
                <a href="assets/img/portfolio/certapro_logo.jpg" data-gallery="portfolio-gallery-app" class="glightbox "><img src="assets/img/portfolio/certapro_logo.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Certapro Apps</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding filter-books text-center">
              <div class="portfolio-wrap Portfolio12">
                <a href="assets/img/portfolio/gym-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/gym-4.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Gym Apps</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding filter-books text-center">
              <div class="portfolio-wrap Portfolio6">
                <a href="assets/img/portfolio/guest_link_pro.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/guest_link_pro.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Guest Link Pro</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> CellarPass -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product text-center">
              <div class="portfolio-wrap Portfolio10">
                <a href="assets/img/portfolio/kixify_buy.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/kixify_buy.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">KIXIFY-Buy</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app filter-product filter-branding filter-books text-center">
              <div class="portfolio-wrap Portfolio12">
                <a href="assets/img/portfolio/ship3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/ship3.jpg" class="img-fluid AllDivImg" alt=""></a>
                <div class="portfolio-info">
                  <h4 class="text-white"><a title="More Details" class="text-white">Port App</a></h4>
                  <!-- <p class="text-white">Lorem ipsum, dolor sit amet consectetur</p> Management -->
                </div>
              </div>
            </div><!-- End Portfolio Item filter-app-1 -->

          

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  <!-- <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <h4>Walter White</h4>
              <span>Web Development</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <h4>Sarah Jhinson</h4>
              <span>Marketing</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <h4>William Anderson</h4>
              <span>Content</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>-->

  <!--<section id="pricing" class="pricing sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Pricing</h2>
          <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Free Plan</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Business Plan</h3>
              <div class="icon">
                <i class="bi bi-airplane"></i>
              </div>

              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Developer Plan</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div>

        </div>

      </div>
    </section>-->
    
  <!-- ======= Recent Blog Posts Section ======= -->
  <!-- <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Blog Posts</h2>
          <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto accusamus fugit aut qui distinctio</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Politics</p>

              <h2 class="title">
                <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Maria Doe</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div>

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Sports</p>

              <h2 class="title">
                <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Allisa Mayer</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div>

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Mark Dower</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div>

        </div>

      </div>
    </section> -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
    
        <div class="section-header">
          <h2>Contact</h2>
          <p>Tell us what you are looking for or you can also share your thoughts with us. Just comment down below.<span class="wave">👇</span></p>
        </div>
        <div class="row gx-lg-0 gy-4 MainDivContact">
          <div class="col-lg-4 SecondDivCotact">   

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Office No: 9-10, Second Floor, Ashok Arcade, Above PHD Mart, Near Kuber Baug, Mahuva-364290.</p>
                </div>
              </div><!-- End Info Item -->
    
              <div class="info-item d-flex" >
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <a href="https://mail.google.com/mail/u/0/#inbox?compose=javedkalanoya@gmail.com" class="text-white">
                    <h4>Email:</h4>
                    <p>contact@csureinfo.tech</p>
                  </a>
                </div>
              </div><!-- End Info Item -->
    
              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <a href="tel:9737920720" class="text-white">
                    <h4>Call:</h4>
                    <p>+91 9737920720</p>
                  </a>
                </div>
              </div><!-- End Info Item -->
    
              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Fri: 9:30AM - 10:00PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>
    
          </div>
    
          <div class="col-lg-8 ContactFormDivMain">
            <form method="post" role="form" class="php-email-form" name="form1"> 
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control AllContactDivColor" style="border-radius: 10px;" #name placeholder="Your Name*" id="name" required="required" (input)="NameClickEvent(name.value)" onkeyup="NameFunction();"/>
                  <span class="text-danger p-1">{{ nameErrorMsg }}</span>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control AllContactDivColor" style="border-radius: 10px;" name="email" #email placeholder="example@gmail.com" id="email"  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" (input)="EmailClickEvent(email.value)" onkeyup="EmailFunction()" />
                  <span class="text-danger p-1">{{emailErrorMsg}}</span>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control AllContactDivColor" style="border-radius: 10px;" name="subject" #subject placeholder="Your Subject*" id="subject"  (input)="SubjectClickEvent(subject.value)" onkeyup="SubjectFunction();"/>
                <span class="text-danger p-1">{{subjectErrorMsg}}</span>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control AllContactDivColor" style="border-radius: 10px;" name="message" rows="7" placeholder="Message*" #message id="message"  (input)="MessageClickEvent(message.value)" onkeyup="MessageFunction();"></textarea>
                <span class="text-danger p-1">{{messageErrorMsg}}</span>
              </div>
              <div class="text-center">
                <button type="button" class="btn w-100 SubmitButton" onclick="changeStyle()"  (click)="isEmailSet()" (click)="onClick(name.value,email.value,subject.value,message.value)">Send Message</button>
              </div>
            </form> 
          </div><!-- End Contact Form -->
          
          
          <div class="info-item d-flex bg-success DivContact" *ngIf="visiblee">
            <i class="bi bi-check-circle flex-shrink-0"></i> 
            <div>
              <h4>Submitted.<a href="#" aria-hidden="true" style="margin-left: 1070px;" class="text-white" (click)="visiblee = false">&times;</a></h4>
              <p>Thank you for contact-us we will call you back.</p>
            </div>
          </div><!-- End Info Item -->
            
       

        </div>

      </div>
    </section><!-- End Contact Form -->
    
  </main><!-- End #main -->
  